Python Data Cleaning & Text Manipulation Workshop
Author: Saina Sheini

1. Load & Inspect the Data

In [27]:
# Python Data Cleaning & Text Manipulation Workshop
# Author: Saina Sheini

import pandas as pd
# to see what your working directory is, uncomment the next two lines:
# import os
# print(os.getcwd())
#
# For this lesson, assume you have a CSV called 'movie_titles.csv' in the same folder.
# Q1. Load the file with the correct encoding (latin1), and show the first 5 rows.
df = pd.read_csv("movie_titles.csv", encoding="latin1", on_bad_lines="skip")
df.head()

   1    2003               Dinosaur Planet
0  2  2004.0    Isle of Man TT 2004 Review
1  3  1997.0                     Character
2  4  1994.0  Paula Abdul's Get Up & Dance
3  5  2004.0      The Rise and Fall of ECW
4  6  1997.0                          Sick

In [28]:
# Q2. Rename the columns to: 'Year', 'Title'
# What columns do I have?
print(df.columns)
#Rename the columns
df.columns = ["ID", "Year", "Title"]
df.head()

Index(['1', '2003', 'Dinosaur Planet'], dtype='object')

   ID    Year                         Title
0   2  2004.0    Isle of Man TT 2004 Review
1   3  1997.0                     Character
2   4  1994.0  Paula Abdul's Get Up & Dance
3   5  2004.0      The Rise and Fall of ECW
4   6  1997.0                          Sick

In [29]:
# Q3. What is the shape of the dataset?
print(df.shape)

(17433, 3)

In [19]:
# Q4. Are there any missing values? If so, replace na values with mode
print(df.isnull().sum())
df = df.fillna(df['Year'].mode()[0])

ID       0
Year     0
Title    0
dtype: int64

In [30]:
# While you're here, check the column types too
print(df.dtypes)

ID         int64
Year     float64
Title     object
dtype: object

In [31]:
# Q5. What are the earliest and latest years in the dataset?
print(df['Year'].min(), df['Year'].max())

1896.0 2005.0

2. Clean the Text

In [32]:
# Q6. Strip leading and trailing whitespace from all movie titles.
df['Title'] = df['Title'].str.strip()

In [36]:
# Q7. Standardize the titles: make them all lowercase.
df['Title'] = df['Title'].str.lower()

In [ ]:
# Q8. Remove any non-ASCII characters (like é, ’, etc.) from the 'Title' column.
import re
df['Title'] = df['Title'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x)) # lambda function is your best friend!
#\x00-\x7F is the range of ASCII characters (standard English characters, numbers, and symbols)

3. Parse Subtitles and Parts