Python Data Cleaning & Text Manipulation Workshop
Author: Saina Sheini

1. Load & Inspect the Data

In [2]:
# Python Data Cleaning & Text Manipulation Workshop
# Author: Saina Sheini

import pandas as pd
# to see what your working directory is, uncomment the next two lines:
# import os
# print(os.getcwd())
#
# For this lesson, assume you have a CSV called 'movie_titles.csv' in the same folder.
# Q1. Load the file with the correct encoding (latin1), and show the first 5 rows.
df = pd.read_csv("movie_titles.csv", encoding="latin1", on_bad_lines="skip")
df.head()

   1    2003               Dinosaur Planet
0  2  2004.0    Isle of Man TT 2004 Review
1  3  1997.0                     Character
2  4  1994.0  Paula Abdul's Get Up & Dance
3  5  2004.0      The Rise and Fall of ECW
4  6  1997.0                          Sick

In [3]:
# Q2. Rename the columns to: 'Year', 'Title'
# What columns do I have?
print(df.columns)
#Rename the columns
df.columns = ["ID", "Year", "Title"]
df.head()

Index(['1', '2003', 'Dinosaur Planet'], dtype='object')

   ID    Year                         Title
0   2  2004.0    Isle of Man TT 2004 Review
1   3  1997.0                     Character
2   4  1994.0  Paula Abdul's Get Up & Dance
3   5  2004.0      The Rise and Fall of ECW
4   6  1997.0                          Sick

In [29]:
# Q3. What is the shape of the dataset?
print(df.shape)

(17433, 3)

In [4]:
# Q4. Are there any missing values? If so, replace na values with mode
print(df.isnull().sum())
df = df.fillna(df['Year'].mode()[0])

ID       0
Year     7
Title    0
dtype: int64

In [30]:
# While you're here, check the column types too
print(df.dtypes)

ID         int64
Year     float64
Title     object
dtype: object

In [31]:
# Q5. What are the earliest and latest years in the dataset?
print(df['Year'].min(), df['Year'].max())

1896.0 2005.0

2. Clean the Text

In [5]:
# Q6. Strip leading and trailing whitespace from all movie titles.
df['Title'] = df['Title'].str.strip()

In [36]:
# Q7. Standardize the titles: make them all lowercase.
df['Title'] = df['Title'].str.lower()

In [ ]:
# Q8. Remove any non-ASCII characters (like é, ’, etc.) from the 'Title' column.
import re
df['Title'] = df['Title'].apply(lambda x: re.sub(r'[^\x00-\x7F]+', '', x)) # lambda function is your best friend!
#\x00-\x7F is the range of ASCII characters (standard English characters, numbers, and symbols)

3. Parse Subtitles and Parts

In [9]:
# Q9. Create a new column 'Has_Subtitle' that is True if the title contains a colon (:), False otherwise.
colon = df['Title'].str.contains(':')
df['Has_Subtitle'] = colon
print(df.head())

   ID    Year                         Title  Has_Subtitle
0   2  2004.0    Isle of Man TT 2004 Review         False
1   3  1997.0                     Character         False
2   4  1994.0  Paula Abdul's Get Up & Dance         False
3   5  2004.0      The Rise and Fall of ECW         False
4   6  1997.0                          Sick         False

In [10]:
# Q10. For titles with colons, split the title into 'Main_Title' and 'Subtitle'.
df[['Main_Title', 'Subtitle']] = df['Title'].str.split(':', expand=True, n=1)
print(df.head())

   ID    Year                         Title  Has_Subtitle  \
0   2  2004.0    Isle of Man TT 2004 Review         False
1   3  1997.0                     Character         False
2   4  1994.0  Paula Abdul's Get Up & Dance         False
3   5  2004.0      The Rise and Fall of ECW         False
4   6  1997.0                          Sick         False

                     Main_Title Subtitle
0    Isle of Man TT 2004 Review     None
1                     Character     None
2  Paula Abdul's Get Up & Dance     None
3      The Rise and Fall of ECW     None
4                          Sick     None

In [ ]:
# Q11. How many titles contain slashes (/)?
df['Title'].str.contains('/').sum()

np.int64(288)

In [14]:
# Q12. For those with slashes, split into 'Part_A' and 'Part_B'.
df[['Part_A', 'Part_B']] = df['Title'].str.split('/', expand=True, n = 1)
print(df.head())

   ID    Year                         Title  Has_Subtitle  \
0   2  2004.0    Isle of Man TT 2004 Review         False
1   3  1997.0                     Character         False
2   4  1994.0  Paula Abdul's Get Up & Dance         False
3   5  2004.0      The Rise and Fall of ECW         False
4   6  1997.0                          Sick         False

                     Main_Title Subtitle                        Part_A Part_B
0    Isle of Man TT 2004 Review     None    Isle of Man TT 2004 Review   None
1                     Character     None                     Character   None
2  Paula Abdul's Get Up & Dance     None  Paula Abdul's Get Up & Dance   None
3      The Rise and Fall of ECW     None      The Rise and Fall of ECW   None
4                          Sick     None                          Sick   None

4. Extract Patterns & Create Features

In [19]:
# Q13. Create a new column 'Word_Count' that counts how many words are in each title.

df['Word_COunt'] = df['Title'].str.split().str.len()
print(df.head())

   ID    Year                         Title  Has_Subtitle  \
0   2  2004.0    Isle of Man TT 2004 Review         False
1   3  1997.0                     Character         False
2   4  1994.0  Paula Abdul's Get Up & Dance         False
3   5  2004.0      The Rise and Fall of ECW         False
4   6  1997.0                          Sick         False

                     Main_Title Subtitle                        Part_A Part_B  \
0    Isle of Man TT 2004 Review     None    Isle of Man TT 2004 Review   None
1                     Character     None                     Character   None
2  Paula Abdul's Get Up & Dance     None  Paula Abdul's Get Up & Dance   None
3      The Rise and Fall of ECW     None      The Rise and Fall of ECW   None
4                          Sick     None                          Sick   None

   Word_Count  Word_COunt
0           6           6
1           1           1
2           6           6
3           6           6
4           1           1

In [ ]:
# Q14. Create a new column 'Title_Length' that counts how many characters are in each title.
df['Title_Length'] = df['Title'].str.len()

In [23]:
# Q15. Create a column 'Contains_Number' that is True if the title contains any digit.
df['Contains_Number'] = df['Title'].str.contains(r'\d')
print(df.head())

   ID    Year                         Title  Has_Subtitle  \
0   2  2004.0    Isle of Man TT 2004 Review         False
1   3  1997.0                     Character         False
2   4  1994.0  Paula Abdul's Get Up & Dance         False
3   5  2004.0      The Rise and Fall of ECW         False
4   6  1997.0                          Sick         False

                     Main_Title Subtitle                        Part_A Part_B  \
0    Isle of Man TT 2004 Review     None    Isle of Man TT 2004 Review   None
1                     Character     None                     Character   None
2  Paula Abdul's Get Up & Dance     None  Paula Abdul's Get Up & Dance   None
3      The Rise and Fall of ECW     None      The Rise and Fall of ECW   None
4                          Sick     None                          Sick   None

   Word_Count  Word_COunt  Title_Length  Contains_Number
0           6           6            26             True
1           1           1             9            False
2           6           6            28            False
3           6           6            24            False
4           1           1             4            False

In [29]:
# Q16. Create a 'Decade' column from the 'Year' column (e.g., 1994 → '1990s')
df['Year'] = df['Year'].astype(int)
df['Decade'] = ((df['Year'] // 10)* 10).astype(str) + 's'
print(df.head())

   ID  Year                         Title  Has_Subtitle  \
0   2  2004    Isle of Man TT 2004 Review         False
1   3  1997                     Character         False
2   4  1994  Paula Abdul's Get Up & Dance         False
3   5  2004      The Rise and Fall of ECW         False
4   6  1997                          Sick         False

                     Main_Title Subtitle                        Part_A Part_B  \
0    Isle of Man TT 2004 Review     None    Isle of Man TT 2004 Review   None
1                     Character     None                     Character   None
2  Paula Abdul's Get Up & Dance     None  Paula Abdul's Get Up & Dance   None
3      The Rise and Fall of ECW     None      The Rise and Fall of ECW   None
4                          Sick     None                          Sick   None

   Word_Count  Word_COunt  Title_Length  Contains_Number Decade
0           6           6            26             True  2000s
1           1           1             9            False  1990s
2           6           6            28            False  1990s
3           6           6            24            False  2000s
4           1           1             4            False  1990s

5. Light Analysis

In [ ]:
# Q17. What are the 10 longest movie titles by word count?

In [ ]:
# git add .
# git commit -m "Adds part 3"
# git push

In [ ]:
# fclmvzm